body {
  width: 100%;
  font-size: 18px;
  padding: 0.5em 1em 1em;
  color: #333;
}

.hide {
  display: none;
}

#intro {
  width: 100%;
  margin: 1em auto 2em;
}

#intro h1 {
  text-align: center;
}

p {
  width: 95%;
  margin: 0 auto 1em;
}

img {
  border: 2px solid #333;
  display: block;
  width: 100%;
  margin: 0 auto 1.5em;
}

.modal h4 {
  text-align: center;
}
